<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CustomDiscordRichPresence___by_Freddi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CustomDiscordRichPresence___by_Freddi.Properties.Settings>
      <setting name="ClientID" serializeAs="String">
        <value>561750621678600232</value>
      </setting>
      <setting name="Details" serializeAs="String">
        <value>DiscordRP</value>
      </setting>
      <setting name="State" serializeAs="String">
        <value>by Freddi</value>
      </setting>
      <setting name="LargeImageKey" serializeAs="String">
        <value>image_large</value>
      </setting>
      <setting name="LargeImageText" serializeAs="String">
        <value>you have to change it...</value>
      </setting>
      <setting name="SmallImageKey" serializeAs="String">
        <value>image_small</value>
      </setting>
      <setting name="SmallImageText" serializeAs="String">
        <value>you have to change it...</value>
      </setting>
    </CustomDiscordRichPresence___by_Freddi.Properties.Settings>
  </userSettings>
</configuration>